@import "../../styles/variables.scss";

.container {
  width: 100%;
  display: felx;
  flex-direction: column;

  .tableBox {
    width: 100%;
    .table {
      .pagination {
        padding-right: 15px;
      }

      .tableHeader {
        padding: 0 20px 0 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 54px;
        background-color: #fafafa;

        .headerTitle {
          font-weight: 700;
          font-size: 20px;
        }

        .headerButton {
          height: 100%;
          display: flex;
          align-items: flex-end;

          .tableHeaderButton {
            width: 150px;
            padding: 7px 0 7px 0;
            white-space: nowrap;
            text-align: center;
            border: 1;
            color: $white;
            background-color: #00b8e9;
            border: 1px;
            outline: none;
            transition: background-color 0.5s ease;
          }

          .tableHeaderButton:hover {
            transition: background-color 0.5s ease;
            background-color: #1fa4c9;
          }
        }
      }

      .tableButton {
        padding: 7px 15px 7px 15px;
        white-space: nowrap;
        text-align: center;
        border: 1;
        color: $white;
        background-color: #00b8e9;
        border: 1px;
        outline: none;
        transition: background-color 0.5s ease;
      }

      .tableButton:hover {
        transition: background-color 0.5s ease;
        background-color: #1fa4c9;
      }
    }
  }
}

.modalBox {
  padding: 1px 20px 20px 20px;

  .table {
    .pagination {
      height: 20px;
      width: 100%;
    }
    .tableButton {
      padding: 7px 15px 7px 15px;
      text-align: center;
      border: 1;
      color: $white;
      background-color: #00b8e9;
      border: 1px;
      outline: none;
      transition: background-color 0.5s ease;
    }

    .tableButton:hover {
      transition: background-color 0.5s ease;
      background-color: #1fa4c9;
    }
  }
}

.modalFormBox {
  display: flex;
  flex-direction: column;
  gap: 15px;

  input {
    height: 46px;
    box-sizing: border-box;
    padding-left: 15px;
    font-size: 18px;
    border: 1px solid $grey;
    border-radius: 4px;
  }
}
