@import "../../styles/variables";

li {
  margin: 17px 46px;
  display: flex;
  svg {
    width: 30px;
    margin-right: 15px;
  }
}

a {
  text-decoration: none;
  color: $black;
  font-weight: 500;
  position: relative;
}

.background {
  border-right: 5px solid $light-blue;
  margin: 0;
  width: calc(100% - 17px);
  padding: 0px;
  height: 100%;
  position: relative;
  bottom: 17px;
}

@media (max-width: $xl) {
  li {
    .text {
      display: none;
    }
  }
}
