@import "./fonts";

/* --------------------------------- Fonts --------------------------------- */

$body-font: "Poppins", sans-serif;

/* --------------------------------- Colors -------------------------------- */

$blue: #4bb0f7;

/* ---------------------------------- Size --------------------------------- */

$xs: 576px;
$sm: 640px;
$md: 768px;
$lg: 976px;
$xl: 1280px;
$xxl: 1536px;
