@import "../../styles/variables.scss";

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  .header {
    width: 100%;
    padding: 20px 10px 20px 10px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      padding: 10px 20px 10px 20px;
      height: min-content;
      display: flex;
      box-shadow: 0px 4px 20px #c4bebe;
    }
    .buttonActive {
      text-align: center;
      border: 1;
      color: $white;
      background-color: #00b8e9;
      border: 1px;
      border-color: $red;
      transition: background-color 0.5s ease;
    }

    .buttonNotActive {
      text-align: center;
      color: $white;
      background-color: #249cbd;
      border: 1px;
      border-color: $red;
      transition: background-color 0.5s ease;
    }

    .buttonNotActive:hover {
      background-color: #1fa4c9;
    }
  }

  .groupContext {
    width: 100%;
    padding-top: 18px;

    .table {
      border-top: 1px solid $gray;

      .tableButton {
        padding: 7px 15px 7px 15px;
        text-align: center;
        border: 1;
        color: $white;
        background-color: #00b8e9;
        border: 1px;
        outline: none;
        transition: background-color 0.5s ease;
      }

      .tableButton:hover {
        transition: background-color 0.5s ease;
        background-color: #1fa4c9;
      }
    }
  }
}
