@import "../../../styles/variables.scss";

.outletContent {
  width: 100%;
  padding-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 54px;

  .table {
    border-top: 1px solid $gray;

    .tableHeader {
      padding: 0 20px 0 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 54px;
      background-color: #fafafa;

      .headerTitle {
        font-weight: 700;
        font-size: 20px;
      }
    }
  }
}
