body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.e-today {
  display: none !important;
}

.e-schedule .e-schedule-toolbar .e-toolbar-items .e-toolbar-item.e-separator {
  border-right: 0 !important;
}

.e-schedule .e-schedule-toolbar .e-active-view .e-tbar-btn-text {
  color: #00b8e9 !important;
}

.e-schedule .e-vertical-view .e-header-cells.e-current-day {
  color: #00b8e9 !important;
}

.e-schedule .e-month-view .e-date-header-wrap table td.e-current-day {
  color: #00b8e9 !important;
}

.e-schedule .e-month-view .e-current-date .e-date-header {
  background-color: #00b8e9 !important;
}
